/* CSS Document */

.sidemenu{float: left;
  width: 12%;
  margin-left: 20px;
  padding: 5px;
  background-color: #eee;
  height: 293px;
  padding-left: 6px;}
  .sidemenu p{  background-color: #ddd;
  height: 30px;
  line-height: 30px;
  padding-left: 11px;}
  .sidemenu a{   text-decoration: none;
  color: #278798;
  font-size: 15px;
  font-weight: bold;}
