*
{
  font-family:Arial, Helvetica, sans-serif;
  color:#333;
  font-size:12px;		
}
IMG	{
  display:block;
}
A	{
  text-decoration:none;
}
@font-face{
  font-family:fakePlastic;
  src: url('./../fonts/geoSans/geoSansLight.ttf'),url('./../fonts/geoSans/geoSansLight.eot'); /* IE */
}
BODY{
  //background:#eeeeee;
  background:#D9E6EC;
  background-position:fixed;
  width:100%;
  height:650px;
  margin:0px;
  padding:0px;
}
#loginHolder{
  width:100%;
  height:13%;
  background:#ff0000;
}
.holder	{
  width:100%;
  height:30%;
  align:center;
  background:url('./../images/bg.jpg') repeat;
}
#margiN{
  height:10%;
  width:100%;   
  background:#444444;
  background:rgb(0,22,39);
}
#topc{
  height:81%;
  background:transparent;
  width:85%;
  margin:0 auto;
  border-top:solid 1px #000000;
}
.logo{
  height:100%;
  margin-top:0%;
  background:url('./../images/emb1.png') transparent;
  //background:url('./../images/logo.png') transparent;
  width:16%;
  float:left;
  color:#ff0000;
  font-size:30px;
  background-repeat:no-repeat !important;
}
#nameHolder{
  height:50%;
  margin-top:3.5%;
  width:68%;
  float:left;
  background:transparent;
  line-height:20px;
}
#bottomc{
  width:100%;
  border-top:solid 1px  #000000;
  border-bottom:solid 1px #000000;
  margin-bottom:0px !important;
  height:18%;
  background:url('./../images/header.jpg') repeat-x ;
}
#buttons{
  height:100%;  
  width:72%;
  margin-left:auto;
  margin-right:auto;  
  background:transparent;
}
.mainButton{
  float:left;
  vertical-align:middle;
  transition : background 1s;
  letter-spacing:0.8px;
  height:100%;
  width:11%;
  color:#FFFFFF;
  background:transparent;
  border-right:solid 1px #000000;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  font-weight:bold;
}
.sub:hover
{
    color:#103A53;
    font-size:110%;
}
.mainButton:hover ,.currentButton{
  height:100%;
  background:#111111;
  color:#efefef;
  cursor:pointer;
  font-size:115%;
}
li{
  list-style:none; 
  text-align:center;
  line-height:75%;
  font-size: 13px;  
  font-family:Arial, Helvetica, sans-serif;
}
ul{
  background:#333;
  background:rgba(0,0,0,0.9);
  border:solid 1px #000000;
  z-index:5 !important;
}
.mainUl{
  list-style:none;
  margin-top:9.5%;
  width:180%;
  position:relative;
  display:none;
  padding-left:0px;
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;  
  font-family: 'Lucida Console', Monaco, monospace;
  border-top:none !important;
}
ul li{
  //color:#ffffff;
  color:#030303;
  text-align:left;
  padding-left:14px;
  padding-top:2%;
  height:15px;
}
li:hover{
  color:rgb(197,197,197);
}
ul li:hover  ul{
  display:block !important;
  border-left:none !important;
}
li:hover  ul{
  display:block !important;
  width:300%;
}
.mainUl li ul{
  margin-left:100%;
  width:30%;
  display:none !important;
  border-radius:0px;
  border-top-right-radius:3px;
  border-bottom-right-radius:3px;
  margin-top:-6.5%;
  height:400%;
}
.mainUl li ul li{
  padding-top:10%;
  height:30%;
}

#page{
  margin:0 auto;
  width:85%;
  height:107%;
}
/*.boxGrayShadow{
  margin-top:1%;
  width:22%;
  height:45%;
  background:#ffe;
  background:rgba(255,255,255,0.6);
  border:solid 1px #d8d8d8; //2462ab
  -moz-box-shadow: 3px 3px 3px #888;;
  -webkit-box-shadow: 3px 3px 3px #888;
  -o-box-shadow: 3px 3px 3px #888;
  -ms-box-shadow: 3px 3px 3px #888;
  box-shadow: 3px 3px 3px #888;
  border-radius:3px;
  float:right;
  color:#000000;
}*/
.detailbox{
  margin-top:1%;
  width:77%;
  height:45%;
  background:#ffe;
  background:rgba(255,255,255,0.6);
  border:solid 1px #000000;
  -moz-box-shadow: 3px 3px 3px #888;;
  -webkit-box-shadow: 3px 3px 3px #888;
  -o-box-shadow: 3px 3px 3px #888;
  -ms-box-shadow: 3px 3px 3px #888;
  box-shadow: 3px 3px 3px #888;
  border-radius:3px;
  float:right;
  color:#000000;
}
#page detailboxHead{
  width:100%;
  height:12%;
  font-weight:bold;
  padding-top:5%;
  color: #ffffff;
  background:url('./../images/header.jpg') #ffffff repeat-x;
  text-align:center;
}
#page detailboxBody{
  width:100%;
  height:auto;
  background:transparent;
  text-align:left;
  margin-left:auto;
  margin-right:auto;
  overflow:hidden;
  word-wrap:break-word;
}
.box{
  margin-top:1%;
  width:22%;
  min-height:45%; height:auto !important;
  background:#ffe;
  background:rgba(255,255,255,0.6);
  border:solid 1px #000000;
  -moz-box-shadow: 3px 3px 3px #888;;
  -webkit-box-shadow: 3px 3px 3px #888;
  -o-box-shadow: 3px 3px 3px #888;
  -ms-box-shadow: 3px 3px 3px #888;
  box-shadow: 3px 3px 3px #888;
  border-radius:3px;
  float:right;
  color:#000000;
}

.boxHead{
  width:100%;
  height:9%;
  font-weight:bold;
  font-size: 17px;
  font-family:times;
  font-style:normal;
  padding-top:1%;
  color: #F8F3F3;
  background:url('./../images/header.jpg') #ffffff repeat-x;
  text-align:center;
}
.boxBody{
  width:auto;
  height:auto;
  background:transparent;
  text-align:left;
  margin-left:auto;
  margin-right:auto;
  overflow:hidden;
  word-wrap:break-word;
  font-size:11px;
  font-family:Times New Roman, Helvetica, sans-serif;
}
.subMenu{
   color:#000000;
   background-color:#F4FAFD;
  cursor:pointer;
  width:80%;
  padding:3px 0px 5px 5px;
  border-bottom:solid 1px #CFE6F0;
  border-left:solid 4px #CFE6F0;
}
.subMenu:hover
{
  margin-top:1.5%;
  background:#C9E2EE;
  color:#FF0600;
  font-family:verdana;
  padding:3px 5px 5px 15px;
  border-bottom:solid 1px #05567C;
  border-left:solid 4px #05567C;
  
 }
.modelWindow{
  width:50%;
  height:50%;
  background:#000000;
  color:#ffffff;
  border:solid 10px #ffffff;
  margin-right:auto;
  margin-left:auto;
  float:none;
  margin-top:-80%;
  display:none;
  opacity:0;
}
.innerPage{
  width:77%;
  height:80%;
  display:none;
}
.innerPageBody{
  font-family:Verdana, Geneva, sans-serif;
  padding:4%;
  text-align:left;
  font-size:13px;
  word-spacing:2px;
  line-height:160%;
  width:85%;
  margin-left:auto;
  margin-right:auto;
}
.ieeeDate{
  height:5%;
  width:100%;
  padding:2%;
}
  /*Gallery CSS*/
.piclink{
  font-family:Verdana, Geneva, sans-serif;
  position:relative;
  top:15px;
  color:black; 
}
.shad{
  -moz-box-shadow: 5px 5px 2px #888;
  -webkit-box-shadow: 5px 5px 2px #888;
  box-shadow: 5px 5px 2px #888;
}
.shad:hover{
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 10px 10px 5px #888;
}
.footerHolder{
  color: #ffffff;
  height:25%;
  width:100%;
}
.men td:hover
{
background-color:yellow;
}
#page{
  margin:0 auto;
  width:85%;
  height:107%;
}

#unni {  background-color:#FFF top repeat-x #fefefe; width:100%; clear:both; border-top:1px solid #ddd;  }

#footer_container { height:35%; background:url(../images/footer.jpg) top repeat-x #fefefe; width:100%; clear:both; border-top:1px solid #ddd;  }
#footer {
	width: 85%;
	background: url(images/footer.jpg);
	color: yellow;
	padding-top: 20px;
	height: auto;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
#footer ul { padding-left:0; margin-left:0;background-color:transparent; border:none;}
#footer ul li { list-style:none; padding:2px 0;}
#footer a { color: #ffffff; }
#footer .column { width:182px; margin-right:10px; float:left; }
#footer .column_2 { width:374px; float:left; margin-right:10px; padding-top:0px; }
.line { height:1px; border-bottom:1px solid #ccc; _margin-top:-12px; }

/*---- Custom------*/
.welmsg{    float: left;        text-align: center;    width: 100%;    background-color: #B8D8E4;    color: green;}
.logtxt{ height: 35px !important;   width: 205px;    text-align: center;}
.logbtn{    width: 80px;    height: 35px; cursor:pointer;}
.newbtn{float: right;    background-color: #fff;    color: #009;    padding: 5px;    line-height: 12px;    margin-top: -11px;    border-radius: 5px;    box-shadow: 1px 2px 1px 1px #fff;    margin-right: 11px;    cursor: pointer;}
.newbtn:hover, .newbtn:hover a { background-color:#68BAFF; color:#fff !important; border-color:#fff;box-shadow: 1px 2px 1px 1px #68BAFF;}
.forpwd{width: 200px;    background-color: #FFF;    color: #003;    border-radius: 9px;    margin: 6px;}
.forpwd a {    color: #003;    line-height: 30px;}
.forpwd:hover, .forpwd:hover a{background-color: #003;    color:#FFF ; cursor:pointer;}
.mand{ color:#F00; font-weight:bold; font-size:15px; vertical-align:middle;}
.cap{ text-align: center; background-color:#FFF; line-height:28px; font-size:25px;}
.headtitle{color: #FBF9F9;
    background-color: #14C5BB;
    line-height: 30px;
    text-align: center;
    font-size: 25px;
    font-family: fantasy;
    letter-spacing: 2px;}
